.venv
.DS_Store
.env.db
.env.keycloak
.env.appdb
.idea/
.env.testdata.db
certbot
certbot/
mlflow_data/
mlflow_data/mlflow.db
backend/api/__pycache__
backend/core/__pycache__
backend/db/__pycache__
backend/db/models/__pycache__
backend/schemas/__pycache__
backend/services/__pycache__
backend/__pycache__
backend/tests/__pycache__/
backend/uploads
node_modules
backend/test/__pycache__
backend/tasks/__pycache__