.venv
.DS_Store
.env.db
.env.keycloak
.env.appdb
.idea/
.env.testdata.db
certbot
certbot/
mlflow_data/
backend/api/__pycache__
backend/core/__pycache__
backend/db/__pycache__
backend/db/models/__pycache__
backend/schemas/__pycache__
backend/services/__pycache__
backend/__pycache__
node_modules
backend/test/__pycache__