version: '3.8'

services:
  postgres:
    image: postgres:17.5
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql17_5/data
    env_file:
      - ./.env.db
    ports:
      - 5432:5432
    networks:
      - mlops_network

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.0
    container_name: keycloak
    command: ["start-dev"]
    env_file:
      - ./.env.keycloak
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - mlops_network

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./api/.env
    environment:
      - KEYCLOAK_SERVER_URL=http://keycloak:8080/
    ports:
      - "8000:8000"
    depends_on:
      - keycloak
    networks:
      - mlops_network

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - mlops_network

networks:
  mlops_network:
    driver: bridge

volumes:
  postgres_data:
