volumes:
  postgres_data:
    driver: local
  ollama_data:
    driver: local
  mlflow_data:
    driver: local
  mlflow_artifacts:
    driver: local

networks:
  local:
    ipam:
      config:
        - subnet: ${SUBNET:-172.16.0.0/24}

services:
  postgres:
    image: postgres:${POSTGRES_VERSION:-latest}
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD:-keycloak}
    mem_limit: 300m
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - local
    ports:
      - "5432:5432"
  mail:
    image: bytemark/smtp:latest
    container_name: mail
    mem_limit: 50m
    restart: always
    networks:
      - local

  keycloak:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION:-latest}
    environment:
      KC_DB: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD:-keycloak}
      KC_DB_URL_HOST: postgres
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_PROXY_HEADERS: xforwarded
      KC_HTTP_ENABLED: true
      KC_HOSTNAME: https://${KEYCLOAK_DOMAIN}/auth
      KC_HTTP_RELATIVE_PATH: /auth
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_PROXY_ADDRESS_FORWARDING: true
    mem_limit: 500m
    command: start
    container_name: keycloak
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
    restart: always
    networks:
      - local
    depends_on:
      - postgres
      - mail

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend/.env
    environment:
      - KEYCLOAK_SERVER_URL=http://keycloak:8080/auth/
    depends_on:
      - keycloak
      - postgres
    networks:
      - local

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: frontend
    depends_on:
      - keycloak
      - postgres
    networks:
      - local
  nginx:
    image: nginx:${NGINX_VERSION:-latest}
    environment:
      KEYCLOAK_DOMAIN: ${KEYCLOAK_DOMAIN}
    mem_limit: 100m
    container_name: nginx
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - 80:80
      - 443:443
    restart: always
    networks:
      - local

  certbot:
    image: certbot/certbot:${CERTBOT_VERSION:-latest}
    environment:
      CERTBOT_LETSENCRYPT_EMAIL: ${CERTBOT_LETSENCRYPT_EMAIL}
      KEYCLOAK_DOMAIN: ${KEYCLOAK_DOMAIN}
    mem_limit: 50m
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --non-interactive --webroot -w /var/www/certbot --email ${CERTBOT_LETSENCRYPT_EMAIL} -d ${KEYCLOAK_DOMAIN} --agree-tos
    depends_on:
      - nginx

  ollama:
    image: ollama/ollama:${OLLAMA_VERSION:-latest}
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    restart: always
    networks:
      - local
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    environment:
      - OLLAMA_HOST=0.0.0.0:11434

  mlflow:
    image: ghcr.io/mlflow/mlflow:v3.1.4
    container_name: mlflow
    volumes:
      - ./mlruns:/mlflow/artifacts
      - ./mlflow_data:/mlflow/db
    networks:
      - local
    restart: always
    mem_limit: 200m
    command: >
      mlflow server
      --backend-store-uri sqlite:///mlflow/db/mlflow.db
      --default-artifact-root /mlflow/artifacts
      --host 0.0.0.0
      --port 5000
