volumes:
  postgres_data:
    driver: local
  mlflow_data:
    driver: local
  mlflow_artifacts:
    driver: local

networks:
  mlops_network:
    driver: bridge

services:
  postgres:
    image: postgres:${POSTGRES_VERSION:-latest}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD:-keycloak}
    mem_limit: 300m
    container_name: postgres
    env_file:
      - ./.local.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - mlops_network
    ports:
      - "5432:5432"

  keycloak:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION:-latest}
    environment:
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD:-keycloak}
      KC_DB_URL_HOST: postgres
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME: localhost
    ports:
      - "${KEYCLOAK_PORT}:${KEYCLOAK_PORT}"
    mem_limit: 500m
    command: start
    container_name: keycloak
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
    restart: always
    networks:
      - mlops_network
    depends_on:
      - postgres

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend/.local.env
    environment:
      - KEYCLOAK_SERVER_URL="http://keycloak:${KEYCLOAK_PORT}/"
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - keycloak
      - postgres
    networks:
      - mlops_network

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: frontend
    depends_on:
      - keycloak
      - postgres
    ports:
      - "3000:80"
    networks:
      - mlops_network

  mlflow:
    image: ghcr.io/mlflow/mlflow:v3.1.4
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/artifacts
      - ./mlflow_data:/mlflow/db
    networks:
      - local
    restart: always
    mem_limit: 200m
    command: >
      mlflow server
      --backend-store-uri sqlite:///mlflow/db/mlflow.db
      --default-artifact-root /mlflow/artifacts
      --host 0.0.0.0
      --port 5000
