services:
  postgres:
    image: postgres:17.5
    container_name: postgres
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql17_5/data
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.0
    container_name: keycloak
    command: ["start-dev"]
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_DB=postgres
      - KC_DB_URL_HOST=postgres
      - KC_DB_URL_PORT=5432
      - KC_DB_URL_DATABASE=${POSTGRES_DB}
      - KC_DB_USERNAME=${POSTGRES_USER}
      - KC_DB_PASSWORD=${POSTGRES_PASSWORD}
      - KEYCLOAK_IMPORT=/opt/keycloak/data/imports/realm-export.json
    volumes:
      - ./kc-realm/realm-export.json:/opt/keycloak/data/imports/realm-export.json
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - keycloak
      - postgres

volumes:
  postgres_data:
